* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: "Poppins, sans-serif;*/
}
section {
	padding: 5rem 7%;
}

.home {
	width: 100%;
	display: flex;
	align-items: center;
	text-align: left;
}

.home .content {
	background: transparent;
	backdrop-filter: blur(20px);
	padding: 4rem 7%;
	border: 2px solid rgba(255, 255, 255, .2);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	border-radius: 40px;
}

.home .content h2{
	font-size: 3rem;
	text-transform: uppercase;
	color:#fff;
}

.home .content p{
	font-size: 1rem;
	font-weight: lighter;
	color:#eee;
	line-height: 1.8;
	padding: 1rem 0;
	margin-bottom: 1rem;
}

.home .content .button-devis{
	background-image: linear-gradient(to right, #d8a8e6 0%, #c8a8f8 50%, #b8a8f8 100%);
	border: none;
	outline: none;
	padding: .8rem .5rem;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	font-size: 1rem;
	color: #fff;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}

.home .content .button-devis:hover{
	padding: .9rem .6rem;
	transition: .05s;
}

.avis {
	width: 80%;
	margin: auto;
	padding: auto;
	text-align: center;
	background: transparent;
	padding-top: 30px;
	padding-bottom: 80px;
	backdrop-filter: blur(20px);
	border: 2px solid rgba(255, 255, 255, .2);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	border-radius: 40px;
}

.row {
	display: flex;
	justify-content: center;
	gap: 20px; /* Ajustez cette valeur selon l'espacement désiré */
	padding-left: 10px;
	padding-right: 10px;
}

.avis h1 {
	margin-bottom: 20px;
	color: #fff;
}

.avis-col {
	width: 80%;
	max-height: 200px;
	border-radius: 30px;
	margin-bottom: 5%;
	text-align: left;
	background: #fff;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, .1);
	padding: 25px;
	display: flex;
	transition: 0.5s;
}
.avis-col .corps {
	overflow-y: auto;
    text-overflow: auto;
	
}
.avis-col:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, .2);
}

.avis-col i {
	font-size: 25px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
}

.avis-col p {
	font-size: 15px;
}

.avis-col .rating {
	display: flex;
	padding: 0;
	
}

.avis-col .rating i {
	font-size: 20px;
	color: plum;
	margin-right: -1px;
}